<ion-header>

<ion-navbar>
	<ion-title>
		<!-- This is left as a vertical placeholder bc this navbar is hidden by the TeamHome page
		navbar because this page is a sub-tab of it.
		If the header is removed, the tab's content shift up to fill the space & will also be hidden.
		This is only really needed when using tabs on a non-root page.
	 -->
	</ion-title>
</ion-navbar>

	  </ion-header>


<ion-content>

	<ion-refresher (ionRefresh)="refreshAll($event)" >
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<h2>{{team.name}} Details</h2>

	<ion-card>
		<ion-card-content>
			<ion-row>
				<ion-col col-6>
					<h2>Record: {{teamStanding.wins}} - {{teamStanding.losses}}</h2>
					<p>Coach: {{team.coach}}</p>
				</ion-col>
				<ion-col col-6 text-right>
					<button (click)="toggleFav()" *ngIf="!isFollowing"
								ion-button icon-left outline>
						<ion-icon name="star"></ion-icon>
						Add Favorite
					</button>
					<button (click)="toggleFav()" *ngIf="isFollowing"
								ion-button icon-only >
						<ion-icon name="star"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
			<ion-item>
				<ion-label>Date Filter</ion-label>
				<ion-toggle [(ngModel)]="useDateFilter"
							(ionChange)="dateChanged()"></ion-toggle>
				<ion-datetime displayFormat="M/D/YYYY" pickerFormat="M/D/YYYY"
						[(ngModel)]="dateFilter" [disabled]="!useDateFilter"
						(ionChange)="dateChanged()"></ion-datetime>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-list>
		<ion-item *ngFor="let game of gameAry"
				(click)="onClickGame($event, game)">
			<ion-row>
				<ion-col col-3>
					<p>{{game.time | date:'M/d/yy'}}</p>
					<p>{{game.time | date:'shortTime'}}</p>
				</ion-col>
				<ion-col col-6>
					<p>{{game.homeAway}} {{game.opponent}}</p>
					<p>{{game.location}}</p>
				</ion-col>
				<ion-col col-3>
					<h4>{{game.scoreDisplay}}</h4>
					<!-- [color]="getColorNoun(game)" his method, uses color names, I don't like -->
					<ion-badge [class]="getWorLBadgeClass(game)"
								ion-right >{{getScoreWorL(game)}}</ion-badge>
				</ion-col>
			</ion-row>
		</ion-item>
	</ion-list>

	<!-- <button (click)="goHome()" ion-button >Go Home</button> -->
		<!-- ^^^^ here just for demo of nested stacks problem(s) -->

	<hr />
	<!-- Team: {{team | json}} -->


</ion-content>
